.bold{
    font-weight: bold;
    padding-right: 1em;
}


.btnPadding{
    margin:5px;
}

.error{
    color:red;
}

body{
    background-color: lightblue !important;
}

.register{
    text-decoration: underline;
    color:blue;
    cursor:pointer;
}

ul {
   list-style-type: none;
    font-weight: bold;
}

.add{
    cursor:pointer;
    color:blue;
}

.content{
    height:100px;
}

.saveCancel{
    margin-top:15px;
}